.textarea {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    padding: 7px 15px;
    color: var(--black);
    outline-color: var(--primary);
    background: var(--white);
    font-family: var(--font-family);
    resize: none;
}

.textarea::placeholder {
    color: rgba(164, 164, 164, 1);
}