.advantage {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 40px;
}

.info {
	display: grid;
	gap: 10px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
}

.mark {
	display: grid;
	grid-template-rows: auto 1fr;
}

.mark::after {
	position: relative;
	left: 22px;

	width: 1px;
	height: auto;
	margin-top: 25px;
	margin-bottom: 50px;

	content: " ";

	background-color: rgb(210 210 210 / 100%);
}

.description {
	margin-bottom: 40px;

	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
}
